@import 'colors';

body {
  background-color: $black;
  font-family: helvetica;
}

form {
  background-color: $white;
  border-radius: 10px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;
  width: 40vw;
}
